<!-- begin page title -->
    <section id="page-title">
        <div class="container clearfix">
            <h1>Admin Area</h1>
        </div>
    </section>
    <!-- end page title -->

<section id="content" class="container clearfix">
	<div class="manager-icons">
		<h3 class='mbottom20'>Hey, <%= current_admin_user.fullname %>. <%= link_to "Logout", destroy_admin_user_session_path %></h3>
		<div class="manager-icon-link">
			<%= link_to manager_dashboard_path do %>
				<i class="icon-cog icon-3x"></i> <br />Dashboard
			<% end %>
		</div>

		<% if current_admin_user.auth_level == 'basic' %>
			
			<div class="manager-icon-link">
				<%= link_to appointments_path do %>
					<i class="icon-calendar icon-3x"></i> <br />Appointments
				<% end %>
			</div>

			<div class="manager-icon-link">
				<%= link_to manager_businesses_path do %>
					<i class="icon-contact-businesscard icon-3x"></i> <br />Businesses
				<% end %>
			</div>

		<% elsif current_admin_user.auth_level == 'full' %>
		
			<div class="manager-icon-link">
				<%= link_to appointments_path do %>
					<i class="icon-calendar icon-3x"></i> <br />Appointments
				<% end %>
			</div>
			<div class="manager-icon-link">
				<%= link_to manager_booklets_path do %>
					<i class="icon-bookalt icon-3x"></i> <br />Booklets
				<% end %>
			</div>
			<div class="manager-icon-link">
				<%= link_to manager_web_vouchers_path do %>
					<i class="icon-coupon icon-3x"></i> <br />Web Vouchers
				<% end %>
			</div>
			<div class="manager-icon-link">
				<%= link_to manager_businesses_path do %>
					<i class="icon-contact-businesscard icon-3x"></i> <br />Businesses
				<% end %>
			</div>
			<div class="manager-icon-link">
				<%= link_to manager_business_reviews_path do %>
					<i class="icon-star icon-3x"></i> <br />Business Reviews
				<% end %>
			</div>
			<div class="manager-icon-link">
				<%= link_to manager_settings_path do %>
					<i class="icon-settingsandroid icon-3x"></i> <br />Settings
				<% end %>
			</div>

		<% end %>

		
	</div>
	<div class="clear"></div>
