<ul>
	<li><%= link_to "Reports", manager_reports_path %></li>
	<li><%= link_to "Commission", commissions_path %></li>
	<li><%= link_to "Marketing Email", manager_marketing_email_path %></li>
	<li><%= link_to "Towns", manager_towns_path %></li>
	<li><%= link_to "Business Categories", manager_business_categories_path %></li>
	<li><%= link_to 'Advert Sizes', manager_advert_sizes_path %></li>
</ul>
