<%= render 'manager/menu' %>

<section>
	<h3 class="mtop20">Add Business Profile</h3>
	
	<%= form_tag manager_create_business_profile_path, :method => :post, class: "content-form" do %>
	
		<p>
      <%= label_tag "business_name", "Business Name" %>
      <%= text_field_tag "business_name", @contact.nil? ? nil:  @contact.business_name, required: 'required' %>
    </p>
    <p>
      <%= label_tag "business_category_id", "Business Category" %>
      <%= select_tag "business_category_id", options_from_collection_for_select(BusinessCategory.all, "id", "name") %>
    </p>
    <p>
      <%= label_tag "street", "Street" %>
      <%= text_field_tag "street",@contact.nil? ? nil:  @contact.street, required: 'required' %>
    </p>
    <p>
      <%= label_tag "town", "Town" %>
      <%= text_field_tag "town", @contact.nil? ? nil:  @contact.town, required: 'required' %>
    </p>
    <p>
      <%= label_tag "county", "County" %>
      <%= text_field_tag "county", @contact.nil? ? nil:  @contact.county, required: 'required' %>
    </p>
    <p>
      <%= label_tag "postcode", "Postcode" %>
      <%= text_field_tag "postcode", @contact.nil? ? nil:  @contact.postcode, required: 'required' %>
    </p>
    <p>
      <%= label_tag "telephone", "Telephone" %>
      <%= text_field_tag "telephone", @contact.nil? ? nil:  @contact.telephone %>
    </p>
    <p>
      <%= label_tag "website", "Website" %>
      <%= text_field_tag "website", @contact.nil? ? nil:  @contact.website %>
			<%= hidden_field_tag "business_account_id", params[:id] %>
    </p>

		<% if @contact %>
			<%= hidden_field_tag "contact_id", @contact.id %>
		<% end %>
    
    <p><%= submit_tag "Save", class: 'button' %></p>
	
	<% end %>
	
</section>


</section>