<section id="main" class="blog-entry-list three-fourths">
	<% if @articles %>
		<% @articles.each do |article| %>
		<article class="entry clearfix">
			<% if article.image %>
			<a class="entry-image link-overlay" title="<%= article.title %>" href="<%= article_path(article) %>">
				<%= image_tag article.image_url.to_s, width: "700", height: "300" %>
			</a>
			<% end %>
			<div class="entry-date">
				<div class="entry-day"><%= article.created_at.strftime("%e") %></div>
				<div class="entry-month"><%= article.created_at.strftime("%b") %></div>
			</div>
			<div class="entry-body">
				<h2 class="entry-title"><%= link_to article.title, article_path(article) %></h2>
				<div class="entry-meta">
					<span class="author"><%= article.author_name %></span>
					<span class="category"><%= link_to article.article_category.name, articles_category_path(:name => article.article_category.name) %></span>
					<span class="comments"><%= link_to(pluralize(article.article_comments.have_been_reviewed.count, "Comment"), article_path(article,:anchor => "comments")) %></span>
				</div>
				<div class="entry-content">
					<p><%= truncate(article.body, :omission => "#{link_to ' ...more', article_path(article)}", :length => 400).html_safe %></p>
				</div>
			</div>
		</article>
		<% end %>
		
			<%= will_paginate @articles %>
		
	<% else %>
		<p>Sorry, there are no blog posts yet. Please come back soon.</p>
	<% end %>

</section>