<!-- begin page title -->
    <section id="page-title">
    	<div class="container clearfix">
            <h1>Advertise Your Business In Red Hot Voucher Books</h1>
        </div>
    </section>
    <!-- end page title -->

    <section id="content" class="container clearfix">
	
			<h2>Change Your Password</h2>
			<p>Please enter you old password, followed by your new password.</p>

			<%= form_tag business_accounts_send_change_password_path, class: 'content-form' do %>
				<p><%= label_tag 'old_pass', "Old Password" %>
					<%= password_field_tag 'old_pass', nil, class: "input-text", :placeholder => 'Enter old password' %></p>
				<p><%= label_tag 'new_pass', "New Password" %>
					<%= password_field_tag 'new_pass', nil, class: "input-text", :placeholder => 'Enter new password' %></p>
				<p><%= submit_tag "Change Password", class: "button" %> or <%= link_to "back to your account", business_dashboard_path %></p>
			<% end %>
	
		</section>