<!-- begin page title -->
    <section id="page-title">
    	<div class="container clearfix">
				<ul class="voucher-cats">
					<% @categories.each do |cat| %>
			        <li><%= link_to web_vouchers_by_category_path(id: cat, business: cat.name) do %>
										<i class="<%= cat.icon %>" title="<%= cat.name %> Vouchers"></i>
									<% end %>
							</li>
			    <% end %>
				</ul>
        </div>
    </section>
    <!-- end page title -->
    
    <!-- begin content -->
    <section id="content" class="container clearfix">
    	
        <section>
	
        	<div class="two-thirds">
                <%= form_tag web_vouchers_path, class: "content-form", :method => 'get', :id => "web_vouchers_search" do %>
                    <%= text_field_tag :search, params[:search], class: 'search-input', :placeholder => "Search Vouchers", :autocomplete => "off" %>

                    <div id="vouchers"><%= render 'vouchers' %></div>
                    <% end %>
                
            </div>

            <div class="cat-menu">    
                <div class="one-third column-last">

                    <%= render 'layouts/side_cat_menu' %>

                    <%= render 'layouts/side_business_login' %>

                    <%= render 'layouts/side_blog' %>
                    
                    <div class="clear"></div>
                </div>
            </div>

        </section>
        
    </section>
    <!-- end content -->  