<!-- begin page title -->
    <section id="page-title">
    	<div class="container clearfix">
            <h1>Advertise Your Business In Red Hot Voucher Books</h1>
        </div>
    </section>
    <!-- end page title -->

    <section id="content" class="container clearfix">

    	<div class="introbox">
        	<h1><strong>Measurable</strong> Advertising That Works!.</h1>
        </div>

    	<p>The Red Hot Voucher Book is a cost effective, measurable, way to promote your business. With over 2 million vouchers being used, <strong>every day</strong>, in the UK, the Red Hot Voucher Book provides the perfect platform to offer your goods and services in your local areas and beyond.</p>

    	<h3>Business Benefits</h3>
    	<ul>
    		<li><strong>Affordable</strong>.</li>
    		<li><strong>Measurable</strong>. Actually see the returns from your vouchers.</li>
    		<li><strong>5000</strong> books are hand delivered, <strong>every month</strong>, to each area.</li>
    		<li>Full colour advertisements, at no extra cost.</li>
    		<li>Professional design included in the price.</li>
    		<li>High contrast, glossy booklets.</li>
    		<li>Free web voucher listing with each booklet voucher. Saving you £25.</li>
    		<li>Save over £400 per month compared to having your own leaflets designed, printed and distributed.</li>
    		<li>Only our booklets are delivered. We do not mass deliver with any other leaflets</li>
    	</ul>

    	<h3 class="mtop30">Booklet Advertising Special Offer</h3>
        <div class="introbox">
        	<h1>Buy 2 months, get the 3rd month <strong>Half Price</strong>.</h1>
        </div>

    	<h3 class="mtop30">Booklet Advertising Prices</h3>

    	<div class="pricing-box featured one-fifth">
            <header class="header">
                <div class="title">Quarter Page</div>
                <div class="price">
                    <span>£45</span>
                    <sup>/month</sup>
                </div>
            </header>
            <ul class="features">
                <li><strong>5000</strong> Booklets</li>
                <li>96mm x 65mm</li>
                <li><strong>Free</strong> Professional Design</li>
                <li><strong>Free</strong> Web Voucher</li>
                <li>Full Colour</li>
            </ul> 
            <footer class="footer">
                <%= link_to "Order Now", advert_enquiry_path(:size => 'Quarter'), class: "button black" %>
            </footer>
        </div>
        <div class="pricing-box featured one-fifth">
            <header class="header">
                <div class="title">Half Page</div>
                <div class="price">
                    <span>£69</span>
                    <sup>/month</sup>
                </div>
            </header>
            <ul class="features">
                <li><strong>5000</strong> Booklets</li>
                <li>200mm x 65mm</li>
                <li><strong>Free</strong> Professional Design</li>
                <li><strong>Free</strong> Web Voucher</li>
                <li>Full Colour</li>
            </ul> 
            <footer class="footer">
                <%= link_to "Order Now", advert_enquiry_path(:size => 'Half'), class: "button black" %>
            </footer>
        </div>
        <div class="pricing-box featured one-fifth">
            <header class="header">
                <div class="title">Full Page</div>
                <div class="price">
                    <span>£119</span>
                    <sup>/month</sup>
                </div>
            </header>
            <ul class="features">
                <li><strong>5000</strong> Booklets</li>
                <li>96mm x 138mm</li>
                <li><strong>Free</strong> Professional Design</li>
                <li><strong>Free</strong> Web Voucher</li>
                <li>Full Colour</li>
            </ul> 
            <footer class="footer">
                <%= link_to "Order Now", advert_enquiry_path(:size => 'Full'), class: "button black" %>
            </footer>
        </div>
        <div class="pricing-box featured one-fifth">
            <header class="header">
                <div class="title">Premium Page*</div>
                <div class="price">
                    <span>£145</span>
                    <sup>/month</sup>
                </div>
            </header>
            <ul class="features">
                <li><strong>5000</strong> Booklets</li>
                <li>200mm x 138mm</li>
                <li><strong>Free</strong> Professional Design</li>
                <li><strong>Free</strong> Web Voucher</li>
                <li>Full Colour</li>
            </ul> 
            <footer class="footer">
                <%= link_to "Order Now", advert_enquiry_path(:size => 'Premium'), class: "button black" %>
            </footer>
        </div>
        <div class="pricing-box featured one-fifth">
            <header class="header">
                <div class="title">Back / Front</div>
                <div class="price">
                    <span>£189</span>
                    <sup>/month</sup>
                </div>
            </header>
            <ul class="features">
                <li><strong>5000</strong> Booklets</li>
                <li>200mm x 138mm</li>
                <li><strong>Free</strong> Professional Design</li>
                <li><strong>Free</strong> Web Voucher</li>
                <li>Full Colour</li>
            </ul> 
            <footer class="footer">
                <%= link_to "Order Now", advert_enquiry_path(:size => 'BackFront'), class: "button black" %>
            </footer>
        </div>

        <div class="clear"></div>

        <p>* Premium pages refer to Page 3, Page 5, Inside Front and Inside Back pages.</p>

        
        <h3 class="mtop30">Web Advertising Prices</h3>

    	<div class="pricing-box featured one-fifth">
            <header class="header">
                <div class="title">Web Voucher</div>
                <div class="price">
                    <span>£25</span>
                    <sup>/voucher</sup>
                </div>
            </header>
            <ul class="features">
                <li>Printable Voucher</li>
            </ul> 
            <footer class="footer">
                <%= link_to "Sign Up", business_signup_path, class: "button black" %>
            </footer>
        </div>

            <div class="clear"></div>

    </section>

</section>