<h1>Business Advert Enquiry</h1>

<p>Interested in a <%= @size %> page advert.</p>

<p>Name: <%= @name %></p>
<p>Business Name: <%= @business_name %></p>
<p>Town: <%= @town %></p>
<p>Email: <%= @sender %></p>
<p>Telephone: <%= @telephone %></p>
<p>Message: <%= @message %></p>