<!-- begin page title -->
    <section id="page-title">
    	<div class="container clearfix">
            <h1>Urrm, slight problem</h1>
        </div>
    </section>
    <!-- end page title -->

    <section id="content" class="container clearfix">

    	<h2>Oh dear! Seems like that page no longer exists.</h2>

    	<p>Let's see if we can get you back on track.</p>

    	<p>
    		<ul>
    			<li><%= link_to "Home", root_url %></li>
    			<li><%= link_to "Vouchers", web_vouchers_path %></li>
    			<li>Businesses
    				<ul>
    					<li><%= link_to "Business Register", business_signup_path %></li>
    					<li><%= link_to "Business Log In", business_login_path %></li>
    					<li><%= link_to "Advertise with us", advertising_path %></li>
    				</ul>
    			</li>
    			<li><%= link_to "Blog", articles_path %></li>
    			<li><%= link_to "Contact Us", contact_path %></li>
    			<li><%= link_to "Privacy Policy", privacy_policy_path %></li>
    			<li><%= link_to "Terms & Conditions", terms_path %></li>
    		</ul>
    	</p>

    </section>

</section>