<%= render 'manager/menu' %>

<section>
	<h3 class="mtop20">Appointments</h3>
	<p><%= link_to "New Appointment", new_appointment_path, class: 'button' %> <%= link_to "All My Appointments", appointment_path(id: current_admin_user.id), class: 'button green' %></p>

	<h2>Today's Appointments <% concat "(Everyone)" if current_admin_user.auth_level == "full" %></h2>
	<table class="gen-table">
		<thead>
			<tr>
				<% if current_admin_user.auth_level == "full" %>
				<th>Rep Name</th>
				<% end %>
				<th>Business Name</th>
				<th>Town</th>
				<th>Telephone</th>
				<th>Time</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% if @appointments %>
				<% @appointments.each do |app| %>
				<tr>
					<% if current_admin_user.auth_level == "full" %>
					<td><%= app.admin_user.fullname %></td>
					<% end %>
					<td><%= app.contact.business_name if app.contact.business_name %></td>
					<td><%= app.contact.town %></td>
					<td><%= app.contact.telephone %></td>
					<td><%= app.appointment_time.strftime("%l:%M %p") %></td>
					<td><%= link_to "Edit", edit_appointment_path(app) %></td>
				</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>

	<h2>Future Appointments <% concat "(Everyone)" if current_admin_user.auth_level == "full" %></h2>
	<table class="gen-table">
		<thead>
			<tr>
				<% if current_admin_user.auth_level == "full" %>
				<th>Rep Name</th>
				<% end %>
				<th>Business Name</th>
				<th>Town</th>
				<th>Telephone</th>
				<th>Date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% if @future %>
				<% @future.each do |app| %>
				<tr>
					<% if current_admin_user.auth_level == "full" %>
					<td><%= app.admin_user.fullname %></td>
					<% end %>
					<td><%= app.contact.business_name %></td>
					<td><%= app.contact.town %></td>
					<td><%= app.contact.telephone %></td>
					<td><%= app.appointment_time.strftime("%l:%M %p %a %e %b %Y") %></td>
					<td><%= link_to "Edit", edit_appointment_path(app) %></td>
				</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>

</section>


</section>